@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Glass+Antiqua&family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
    font-family: "Gideon Roman", sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

p {
  margin-bottom: 0 !important;
}