.p-add-livros {
    margin: 30px 0;
}

.form-add-livros {
    margin: auto;
    max-width: 700px;
    margin-bottom: 15px;
}

.form-group {
    margin-top: 10px;
}

.btn-adicionar {
    margin-bottom: 30px;
}